doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LoL | CAMILLE
        link(rel="stylesheet", href="/css/styles.css")
    body 
        header.header 
            article 
                a(href="/") HOME
            article
                a(href="/review") REVIEW 


        main 
            block content 

        footer.footer
            p JGM Developer's Web Site 
            p abc59684495@gmail.com
            p 010-0202-0202  
            p Design Reserved By JGM  