extends ../layouts/base.pug

block content 
    div.mainImageBox
        div.mainImageBox__img
        div.mainImageBox__txt
            p content
            p content
            p content
        div.descriptBox
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        div.screenBox
            div img1 
            div img2 
            div img3 
            div img4 
        div.videoBox
            div VIDEO
        div.skillBox
            div.skillBox__img
            div.skillBox__text  
        div.skillBox
            div.skillBox__img
            div.skillBox__text 
        div.skillBox
            div.skillBox__img
            div.skillBox__text 
        div.skillBox
            div.skillBox__img
            div.skillBox__text                