extends ../layouts/base.pug

block content 
    div.mainImageBox
        div.mainImageBox__img
        div.mainImageBox__txt
            p 정예 요원인 카밀은 필트오버의 기득권을 위해 질서를 유지하는 임무를 맡고 있
            p 임무에 모든 걸 바치던 카밀은 결국 자신의 몸까지 바쳐 죽음의 마법공학 병기로 거듭
            p 나게 됩니다. 카밀의 추적은 고요하고 집요하면서 끔찍할 정도로 정확합니다.
    div.descriptBox
        p 카밀은 기동성이 뛰어난 전사로 대상 하나를 쫓아가
        p 베어 버리는 데 뛰어납니다. 싸움을 걸면 항상 이기
        p 죠. 특히 1대1 맞대결에서 빼어난 실력을 보여줍니다.
    div.screenBox
        div 
        div 
        div 
        div 
    div.videoBox
        iframe(width="950" height="500" src="https://www.youtube.com/embed/6X2MsRom6TU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    div.skillBox
        div.skillBox__img.si1
        div.skillBox__text
            p 불곰 “190926 거의 몇달만에 그리는 개인작.. 아 눈물이나네”  
    div.skillBox
        div.skillBox__img.si2
        div.skillBox__text 
            p “190926 거의 몇달만에 그리는 개인작.. 아 눈물이나네”
    div.skillBox
        div.skillBox__img.si3
        div.skillBox__text 
            p “190926 거의 몇달만에 그리는 개인작.. 아 눈물이나네”
    div.skillBox
        div.skillBox__img.si4
        div.skillBox__text 
            p “190926 거의 몇달만에 그리는 개인작.. 아 눈물이나네”
    div.skillBox
        div.skillBox__img.si5
        div.skillBox__text  
            p “190926 거의 몇달만에 그리는 개인작.. 아 눈물이나네”                 