extends ../layouts/base.pug

block content 
    section.reviewWarpper 
        div.infoBox
            div #{result1.count} 개
        div.infoBox
            div #{result1.avg} 점
            
        each review in result2             
            div.reviewContent
                div #{review.score}점
                div #{review.content}