extends ../layouts/base.pug

block content 
    section.reviewWarpper 
        div.infoBox
            div N개
        div.infoBox
            div N.N점   
    div.reviewContent
        div 평점
        div 내용           