.footer {
  width: 100%;
  height: 200px;
  background-color: #222;
  color: #999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer > p {
  margin: 2.5px 0px;
}
