.mainImageBox {
  width: 100%;
  height: 560px;

  position: relative;
}

.mainImageBox .mainImageBox__img {
  width: 100%;
  height: 100%;
  background-color: #999;
  background-image: url("https://i.pinimg.com/474x/6d/e7/1b/6de71bf9d344113599b434c6ff4cb0f5.jpg");
  background-size: cover;
}

.mainImageBox .mainImageBox__txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainImageBox .mainImageBox__txt p {
  font-size: 20px;
  color: #fff;
  text-shadow: 1.5px 1.5px 5px #000;
}

.descriptBox {
  margin: 80px 0px;
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.descriptBox p {
  margin: 5px 0px;
  color: #999;
}

.screenBox {
  width: 100%;
  height: 50px 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.screenBox > div {
  width: calc(100% / 4);
  height: 400px;
  background-color: aliceblue;
  border-radius: 10px;
}

.screenBox div:nth-child(1) {
  background-image: url("https://i.pinimg.com/564x/33/e9/1d/33e91da6e6f82ca5828df4bebea881db.jpg");
  background-size: cover;
}

.screenBox div:nth-child(2) {
  background-image: url("https://i.pinimg.com/474x/46/c7/12/46c712f4523f449c82d86ab28daf7212.jpg");
  background-size: cover;
  opacity: 0.8;
}

.screenBox div:nth-child(3) {
  background-image: url("https://i.pinimg.com/474x/e9/cb/b3/e9cbb3ab5b0117a4556f9646b296da01.jpg");
  background-size: cover;
}

.screenBox div:nth-child(4) {
  background-image: url("https://i.pinimg.com/474x/ae/cb/c1/aecbc1ce2cb9fdba3694353fe388d220.jpg");
  background-size: cover;
  opacity: 0.8;
}

.videoBox {
  width: 100%;
  height: 50px 0px;
  margin-top: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.videoBox iframe {
  border-radius: 8px;
}

.videoBox > div {
  width: 70%;
  height: 300px;
  background-color: #999;
}

.skillBox {
  margin: 50px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.skillBox .skillBox__img {
  width: 200px;
  height: 200px;
  background-color: #999;
}

.skillBox .skillBox__text {
  width: 600px;
  height: 200px;
  background-color: #ececec;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;

  color: #999;
  font-weight: bold;
  border-radius: 8px;
}

.si1 {
  background-image: url("https://i.pinimg.com/474x/73/8c/56/738c56c947945c9a7f3dfe6d030dbc72.jpg");
  background-size: cover;
}

.si2 {
  background-image: url("https://i.pinimg.com/474x/47/11/8a/47118ae68caf470a4a874042059c5f7f.jpg");
  background-size: cover;
}

.si3 {
  background-image: url("https://i.pinimg.com/474x/09/63/7a/09637a70da325146acc34aac65b95c79.jpg");
  background-size: cover;
}

.si4 {
  background-image: url("https://i.pinimg.com/474x/ff/21/12/ff2112fe98aad75769096f0a2aa4dbb5.jpg");
  background-size: cover;
}

.si5 {
  background-image: url("https://i.pinimg.com/474x/f8/72/fb/f872fbb8b4975d88bcac09a9b3fbf471.jpg");
  background-size: cover;
}
