.reviewWarpper {
  width: 100%;
  padding: 20px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviewContent {
  width: 70%;
  height: 50px;
  border: 1px solid #eee;
  box-shadow: 1.5px 1.5px 5px #999;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.reviewContent div:nth-child(1) {
  margin-right: 20px;
}
